.heads {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    margin-right: 2% auto;
}

.cont_text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}